[submodule "extendj"]
	path = extendj
	url = https://bitbucket.org/extendj/extendj.git
[submodule "src/jastadd/CFG/IntraCFG"]
	path = src/jastadd/CFG/IntraCFG
	url = https://github.com/lu-cs-sde/IntraCFG.git
